$purple: #8e36b7;
$gray-footer: #bbbbbb;
$gray-text: #666666;
$gray-textBold: #4e4d4d;
$gray-font: #909090;
$gray-garbage: #d6c7c7;
$gray-button: #CFCFCF;

$purple: #8E36B7;
$light-purple: #D79EDA;
$light-grey: #DFE0E2;
$grey: #BBBBBB;
$dark-grey: #727272;
$red: #E92D2F;
$white: #FFF;
$green: #82F210;